$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import url(http://fonts.googleapis.com/css?family=Pacifico);
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/* Custom variables */
$color-one: #f4396b; 
$color-title: #919191;
$color-disable: #919191;
$color-yellow: #FCE600;
$size_w_container_to_1152: 1088px;
$padding_container_to_1152: 60px;

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: local("Lato Light"), local("Lato-Light"), url("https://fonts.gstatic.com/s/lato/v10/kcf5uOXucLcbFOydGU24WALUuEpTyoUstqEm5AMlJo4.woff") format("woff");
}

// Navigation
.nav-left-menu {
  top: 250px;  
  left: 4px;
  padding: 5px;
  border-radius: 0px 6px 6px 0;
  li {
    background-color: #919191;
    border: 0px solid #FFF;
  }
  li.active {
    background-color: rgba(50, 196, 50, 1);
  }
}

// Titulos

h1, h2, h3, h4, h5 {
  font-family: "Pacifico";
}

h4 {
  font-size: 32px;
  color: $color-title;
  letter-spacing: 3px;
  line-height: 38px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/******* CUSTOM **********/

body {
  font-family: "Lato";
}

p {
  // Add a custom color before to inherit
  font-size: 22px;
  line-height: 28px;
}

[ng-click] {
  cursor: pointer;
}

.section {
  padding-top: 45px;
  padding-bottom: 55px;
  h4 {
    padding-bottom: 36px;
    color: #000000;
    font-size: 40px;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
  }  
  .power {
    font-weight: 900;
    color: #000000 !important;
  }
}

.about {
  .people {
    padding-top: 45px;
  }

  background: #F4396B;
  color: #FFFFFF;
  .lead {
    font-size: 36px;
    line-height: 46px;
  }
  h4 {
    color: #FFFFFF !important;
  }

  h3.profile {
    margin-top: 0px;
  }

}

.manifest {
  .lead {
    font-size: 36px;
    line-height: 46px;
    color: #686868;
  }  
  h4 {
    color: $color-one !important;
  }  
}

.lead.mini {
  font-size: 1.3em;
  line-heigth: 0 !important;
  .description {
    line-heigth: 0 !important;
    font-size: 0.8em;
  }
}


.header {
  background-color: $color-one;
  overflow: visible;

  .nav {
    padding: 30px;
  }
  .nav > li > a:hover, .nav > li > a:focus {
      text-decoration: none;
      color: #9F1338;
  }
  .nav-pills > li > a {
      border-radius: 4px;
  }
  .nav > li > a.btn-main:hover, .nav > li > a.btn-main:focus {
    border: 1px solid #9F1338;
  }
  .nav-pills > li > a.btn-main {
    border: 1px solid $color-one;
  }
  .nav > li > a {
      position: relative;
      display: block;
      padding: 10px 15px;
  }  

  .logo-pro {
    background: url('../images/cloud_header.png');
    position: relative;
    text-align: left;
    height: 150px;
    .media, .text {
      float: left;
    }
    .logo {
      position: relative;
      width: 160px;
      margin-left: 70px;
      margin-top: 10px !important;
    }
    .media {
      position: absolute;
      top: -17px;
      left: 0;
      z-index: 10;
    }
    .text {
      position: relative;
    }
  }
}   

.container-fluid-pro {
   /* Matenha simples suficiente para poder
   ser herdado por outros classes */

   @extend .container-fluid;
   margin: 0;
   padding: 0;

  .sprite-landing {
    background: url('../images/sprite_landing.png') 0 0;
    width: 256px;
    height: 256px;
  }

  .sprite-landing.world {
    background: url('../images/sprite_landing.png') 0 0;
  }  
  .sprite-landing.foods {
    background: url('../images/sprite_landing.png') -256px 0;
  } 
  .sprite-landing.culture {
    background: url('../images/sprite_landing.png') -512px 0;
  }   
  .sprite-landing.science {
    background: url('../images/sprite_landing.png') -768px 0;
  }   
  .row.landing-box {
    margin-bottom: 70px;
  }
  .landing-box {
    p {
      @extend p;
      color: $color-title;
    }
    h4 {
      margin-bottom: 21px;
    }
  } 
}

.jumbotron-pro {
  @extend .jumbotron;
  background-color: $color-one;

  .main-message-container {
    padding-top: 50px;
    color: #FFFFFF;
  }

  .video-explanation {
    margin-top: 60px;
    font-size: 84px;
    a {
      color: rgba(255, 255, 255, 0.5);
    }
    a:hover, a:focus {
      color: #ffffff;
    }
  }

}

/* pop-ups */

.popup-full-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
}


/* Space out content a bit */
body {
  padding-top: 0px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/**********************/
/***** BEGIN Shop *****/
/**********************/

#shop {
  background: url('../images/body_bg_pink.gif') repeat scroll 0% 0% transparent;
  position: relative;
  z-index: 0;

  p.short_desc {
    font-size: 16px;
    min-height: 46px;
  }

  .product_title {
    height: 53px;
  }

  .container-fluid-shop {
    @extend .container-fluid-pro; 
  }  
  .container {
    background-color: #FFFFFF;
  }
  
  .container-top {
      padding: 0px !important;
  }

  .headerPlace {
    float: right;
  }

  .headerPlaceRight {}
  .headerPlaceMiddle {}
  .headerPlaceLeft {}

  .searchBar {
    padding: 30px;
  }

  .header {
    @extend .header;
    /* nao herda */
    background: none;
    border-bottom: 0px !important;
    padding: none;
    margin-bottom: -10px !important;
    .logo-pro {
      background-image: none;
      height: 120px;
      .logo {
          position: relative;
          width: 150px;
          margin-left: 24px;
          margin-top: 16px !important;
        }
    }
  }

  #sitenav {
    // Produtos, Moldes, Tutoria
    width: 100%;
    height: 63px;
    float: left;
    margin-top: -($padding_container_to_1152 + 4px);
    position: relative;
    background: url('../images/barbg.png') repeat-x scroll 0% 0% transparent;
    z-index: 1;
    .header_nav_right, .header_nav_left {
        position: absolute;
        left: -23px;
        width: 23px;
        height: 67px;
        background: url('../images/barbg.png') no-repeat scroll 0px -150px transparent;
    }    
    .header_nav_right {
      left: $size_w_container_to_1152;
      width: 25px;
      background-position: right -150px;    
    }
    .header_nav_left {

    }
    .siteNavBar {
      height: 63px;
      position: relative;
      z-index: 1;
      float: left;
    }
    .siteNavLink {
        text-decoration: none;
        text-align: center;
        font-size: 13px;
        color: #4C4C4C;
        background: url('../images/barbg.png') no-repeat scroll right -95px transparent;
        display: block;
        height: 52px;
        white-space: nowrap;
        a span {
            font-family: ProximaBold,Arial;
            text-transform: uppercase;
            display: table-cell;
            cursor: pointer;
            line-height: 13px;
            vertical-align: middle;
        }        
    }
    .siteNavLi {
      float: left;
      position: relative;
      height: 52px;
      padding: 4px 0px 6px;  
      
      .menuTitle {
        padding-left: 20px;
        padding-right: 20px;
      }

      a {
        span {
          text-transform: uppercase;
          display: table-cell;
          cursor: pointer;
          line-height: 13px;
          vertical-align: middle;
          font-weight: bold;
        }
      }

      .siteNavLinkHeight {
          height: 54px;
          width: 0px;
      }      
    }        
  }

  .catalog {
    padding-top: 25px;
  }

  .product-modal {
    .top-delimiter {
      border-top: 1px solid #EEE;
      padding: 12px 0px 0px;
      margin: 12px 0px 0px;
      clear: both;    
    }

    .modal-title {
      color: #000000;
    }
    
    .list-stars {
      li {
        padding-left: 0px;
        padding-right: 1px;
     }
    }
    
    .glyphicon-star {
      font-size: 24px;
    }
    .glyphicon-star.active { 
        color: $color-yellow;
    }

    .glyphicon-star.empty {
        color: #DBDDE1;
    }

    .title {
      font-weight: bold;
      font-size: 22px;
      line-height: 26px;
    }

    .price {
     font-weight: bold;
    }

    .installments {
      color: $color-title;
      font-size: 14px;
      line-height: 18px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .shipping-info {
      @extend .installments;
      color: #000000;
    }
    ul.product-thumbs {
      $thumb-size: 75px; 
      .product-thumb-selected {
          position: relative;
          float: left;
          height: $thumb-size;
          margin-top: -$thumb-size;
      }
      .product-thumb-selected.active {
        background-color: $color-one;
      }
    } 
  }

}

/***** END Shop *******/



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    padding: 60px;
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Responsive: Medium screen and up */
@media screen and (min-width: 1024px) {
  .container {
    padding: 60px;
    max-width: 960px;
  }
}

/* Responsive: Medium screen and up */
@media screen and (min-width: 1152px) {
  .container {
    padding: $padding_container_to_1152;
    max-width: $size_w_container_to_1152;
  }
  
  #shop #sitenav {
    width: $size_w_container_to_1152;
    margin-left: -$padding_container_to_1152; // compensa o padding anterior
  }

}

/* Responsive: Medium screen and up */
@media screen and (min-width: 1280px) {
  .container {
    padding: 60px;
    max-width: 1216px;
  }
}
