  <!doctype html>
<html class="no-js" ng-app="lellecaPortal">
  <head>
    <meta charset="utf-8">
    <title>Lelleca Shop</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->

  </head>
  <body id="shop" ng-controller="storeController">
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container-fluid-shop">
    <!-- begin: Header based in shop page -->
      <div ng-include src="'pages/includes/header.html'"></div>   
    <!-- end: Header -->

      <div class="container bgwhite">
        <!-- begin: Navbar based in shop page -->
        <div ng-include src="'pages/includes/navbar.html'"></div> 
        <!-- end: Header based in shop page -->   

        <div id="banner" class="row">
          
        </div>         
 
        <!-- begin: catalog -->
        <p>Eu sou {{q}}</p>
        <div class="row catalog">
          <div class="row">
            <div class="col-sm-6 col-md-4" dir-paginate="p in catalog | filter:q | itemsPerPage:9">
              <div class="thumbnail">
                <a href="" ng-click="productShow(p.pid, p.images[0].full)">
                  <div ng-show="p.images.length">
                    <img ng-src="{{ p.images[0].full }}" alt="{{ p.title }}">
                  </div>
                  <div ng-hide="p.images.length">
                    <img src="images/sample/300x300_empty.gif" alt="{{ p.title }}">
                  </div>
                </a>
                <div class="caption">
                  <h3 class="product_title">{{ p.title }}</h3>
                  <p class="short_desc">{{ p.short_desc | limitTo:100 }}</p>
                  <p><a href="#" class="btn btn-primary" role="button">Eu Quero!</a> <a href="#" class="btn btn-default" role="button">Gostei&nbsp;<i class="glyphicon glyphicon-heart"></i>&nbsp<span class="likeCounter">{{ p.likes }}</span></a></p>
                </div>
              </div>
              <!-- modal preview -->
                <div id="product-modal-lg-{{ p.pid }}" class="modal fade product-modal" tabindex="-1" role="dialog" aria-labelledby="productModal" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                          <h4 class="modal-title" id="myModalLabel">{{ p.title }}</h4>
                      </div>        
                      <div class="modal-body">            
                        <div class="row">
                          <div class="col-sm-12 col-md-6 col-lg-1">
                            <ul class="product-thumbs list-unstyled">
                              <li ng-repeat="img in p.images | limitTo: 4">
                                  <img ng-src="{{ img.thumb }}" ng-click="setImage(p.pid, img.full)">
                                  <div ng-class="{true: 'active', false: 'deactive'}[mainImg === img.full]" class="product-thumb-selected">&nbsp;</div>
                              </li>
                            </ul>
                          </div>
                          <div class="col-sm-12 col-md-6 col-lg-5 text-center">
                            <div ng-show="p.images.length">
                            <!-- It need be variable -->
                              <img id="productIDforImg-{{ p.pid }}" ng-src="{{ mainImg }}" alt="{{ p.title }}">
                            </div>
                            <div ng-hide="p.images.length">
                              <img src="images/sample/300x300_empty.gif" alt="{{ p.title }}">
                            </div>
                          </div>
                          <!-- explicit action -->
                          <div class="col-sm-12 col-md-6 col-lg-6">
                              <h6 class="title">{{ p.title }}</h6>
                              <ul class="list-inline list-stars">
                                <li ng-repeat="icon_star in listStars(p.stars) track by $index">
                                  <i class="glyphicon glyphicon-star {{ icon_star }}" ></i>
                                </li>
                              </ul>
                              <p class="price top-delimiter priceUn" ng-init="price = p.price; ">
                                 {{ price | currency:'R$ '}}
                              </p>
                              <p class="installments" ng-init="quotaInitValue = p.installments.value">
                                em até {{p.installments.max}}x de <span class="priceByInstallment" ng-init="installmentsValue = p.installments.value">{{ installmentsValue | currency:'R$ ' }}</span> ou 
                                <br>no boleto por <span class="priceSlipBank" ng-init="priceSlipBank = p.slip_bank.value">{{ priceSlipBank | currency:'R$ ' }}</span> à vista (<span class="slipBankDiscount" ng-init="slipBankDiscount= p.slip_bank.discount_percent">{{ slipBankDiscount }}</span>% de desconto)
                              </p>
                              <!-- button actions -->
                              <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-12">
                                  <div class="purchase-actions">
                                  <div class="btn-group" role="group" aria-label="...">
                                    <button type="button" class="btn btn-primary btn-lg">
                                    Adicionar <span class="badge" ng-init="quantityItens = 1">{{ quantityItens }}</span>
                                    </button>
                                    <button type="button" class="btn btn-primary btn-lg" ng-click="addItem()">+</button>
                                    <button type="button" class="btn btn-primary btn-lg" ng-click="delItem()">-</button>
                                  </div>
                                  </div>                                
                                </div>
                              </div>                              
                              <p class="shipping-info top-delimiter" ng-init="commitDays = p.customer_commit">
                              <span>Envio:</span> {{ commitDays }} dia(s) útil(eis)<br />
                              Frete: <span class="free-shipping" ng-show="p.freeShipping">grátis</span> <span ng-hide="p.freeShipping" class="calc-shipping"><a href="#">calcular</a></span>
                              </p>
                          </div>                        
                        </div>
                        <div class="row top-delimiter">
                          <!-- long description or tabs with specifications -->
                          <div class="col-sm-12 col-md-12 col-lg-12">
                            <p>{{ p.description }}</p>
                          </div>                             
                        </div>
                      </div>
                    </div>
                  </div>
                </div>              
            </div> 
          </div>   
          <div class="row">
            <div class="col-lg-12">
              <dir-pagination-controls></dir-pagination-controls>                      
            </div>
          </div>     
        </div>
        <!-- End: catalog -->
    
      </div> 
      <div class="container-fluid">

      </div>
      <div class="footerContent" ng-include src="'pages/includes/footer.html'"></div>
      
    </div>
    <!-- End: All full content: content-fluid-shop -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-utils-pagination/dirPagination.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <div ng-include src="'pages/includes/google-analytics.html'"></div>

        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/main.js"></script>
        <script src="scripts/store.js"></script>
        <script src="scripts/navbar.js"></script>
        <!-- endbuild -->
</body>
</html>
